
@{
    ViewBag.Title = "AddAlbumForm";
}

<h2>Add Album Form</h2>

<form action="AddAlbum">
    Genre Id <input type="text" name="aGenreId" /> <br />
    Artist Id <input type="text" name="aArtistId" /> <br />
    Title <input type="text" name="aTitle" /> <br />
    Price <input type="number" name="aPrice" /> <br />
    Album Art Url <input type="text" name="aAlbumArtUrl" /> <br />
    <input type="submit" /> <input type="reset" />
</form>
