
@{
    ViewBag.Title = "AddCartForm";
}

<h2>Add Cart Form</h2>

<form action="AddCart">
    Cart Id <input type="text" name="aCartId" /> <br />
    Album Id <input type="text" name="aAlbumId" /> <br />
    Count <input type="text" name="aCount" /> <br />
    Date Created <input type="text" name="aDateCreated" /> <br />
<input type="submit" /> <input type="reset" />
</form>

