
@{
    ViewBag.Title = "AddGenreForm";
}

<h2>Add Genre Form</h2>

<form action="AddGenre">
    Genre Name <input type="text" name="aName" /> <br />
    Genre Description <input type="text" name="aDescription" /> <br/>
    <input type="submit" /> <input type="reset" />
</form>