
@{
    ViewBag.Title = "AddOrderDetailForm";
}

<h2>Add Order Detail Form</h2>

<form action="AddOrderDetail">
    Order Id <input type="text" name="aOrderId" /> <br />
    Album Id <input type="text" name="aAlbumId" /> <br />
    Quantity <input type="text" name="aQuantity" /> <br />
    Unit Price <input type="text" name="aUnitPrice" /> <br />
    <input type="submit" /> <input type="reset" />
</form>
