
@{
    ViewBag.Title = "AddOrderForm";
}

<h2>Add Order Form</h2>

<form action="AddOrder">
    Order Date <input type="text" name="aOrderDate" /> <br />
    Username <input type="text" name="aUserName" /> <br />
    First Name <input type="text" name="aFirstName" /> <br />
    Last Name <input type="text" name="aLastName" /> <br />
    Address <input type="text" name="aAddress" /> <br />
    City <input type="text" name="aCity" /> <br />
    State <input type="text" name="aState" /> <br />
    Postal Code <input type="text" name="aPostalCode" /> <br />
    Country <input type="text" name="aCountry" /> <br />
    Phone <input type="text" name="aPhone" /> <br />
    Email <input type="text" name="aEmail" /> <br />
    Total <input type="number" name="aTotal" /> <br />
    <input type="submit" /> <input type="reset" />
</form>

