
@{
    ViewBag.Title = "Index";
}

<h2>Alfred State Music Store</h2>

<ul>
    <!--List of possiable choices the end user can choose-->
    <li><a href="ListGenres">List Genres</a> <br /></li>
    <li><a href="ListAlbums">List Albums</a> <br/></li>
    <li><a href="ListArtist">List Artist</a> <br/></li>
    <li><a href="ListOrders">List Orders</a> <br/></li>
    <li><a href="ListOrderDetail">List Order Detail</a> <br /></li>
    <li><a href="AddGenreForm">Add Genre</a> <br/></li>
    <li><a href="AddAlbumForm">Add Album</a> <br /></li>
    <li><a href="AddArtistForm">Add Artist</a> <br/></li>
    <li><a href="AddCartForm">Add Cart</a> <br /></li>
    <li><a href="AddOrderForm">Add Order</a> <br /></li>
    <li><a href="AddOrderDetailForm">Add Order Detail</a> <br /></li>
    <li><a href="UpdateSelection">Update Info Form</a> <br /></li>
</ul>